# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
kpow

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.age
*.env

# OS files & folders
*.DS_Store
Thumbs.db
.vscode/
tmp/
kpow-*.json
inbox/

### Node ###

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Dependency directories
node_modules/
