<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <script src="/kpow.js"></script>

    <title>{{if .Title }}{{.Title}}{{else}}Kpow{{end}}</title>
  </head>
  <body>
    <header>
      <img class="logo" src="/kpow.png" />
      <div class="theme-switcher">{{template "color-mode.html" .}}</div>
    </header>
    <main>
      <form method="post">
        {{if .Note}}
        <span class="note note-{{if .IsError}}error{{else}}info{{end}}">
          {{.Note}}
        </span>
        {{end}}
        <input
          type="text"
          name="subject"
          id="subject"
          placeholder="Subject"
          value="{{if .Message.Subject}}{{.Message.Subject}}{{end}}"
        />
        <input type="hidden" name="csrf" value="{{.CSRFToken}}" />
        <textarea
          name="body"
          id="body"
          rows="8"
          placeholder="What's on your mind?"
        >
{{if .Message.Content}}{{.Message.Content}}{{end}}</textarea
        >
        <div class="controls">
          {{if .PubKey}}{{template "pubkey.html" .}}{{end}}
          <input type="submit" value="Send" />
        </div>
      </form>
    </main>
  </body>
  <link rel="stylesheet" href="/kpow.min.css" />
</html>
